@model FeedbackViewModel

@{ 
    ViewBag.Title = "Feedback: " + @Model.TalkName;
}

<h2>Talk Name: @Model.TalkName</h2>
<h4>By: @Model.SpeakerName</h4>

@Html.Partial("_feedbackForm")

@section Footer {
    @await Component.InvokeAsync("Footer")
}