<form asp-controller="RaviewForm" asp-action="SubmitReview" method="post">
    <input type="hidden" name="TalkId" value="@Model.TalkId">

    <label>Did you enjoy the talk?</label><br />
    <input type="radio" name="enjoyrating" value="angry">Angry
    <input type="radio" name="enjoyrating" value="sad">Sad
    <input type="radio" name="enjoyrating" value="meh">Meh
    <input type="radio" name="enjoyrating" value="happy">Happy
    <input type="radio" name="enjoyrating" value="laughing">TearEyedLaugh

    <br />
    
    <label>How would you rate this talk?</label><br />
    <input type="radio" name="talkrating" value="1">1
    <input type="radio" name="talkrating" value="2">2
    <input type="radio" name="talkrating" value="3">3
    <input type="radio" name="talkrating" value="4">4
    <input type="radio" name="talkrating" value="5">5
    
    <br />

    <label>Did you learn anything useful?</label><br />
    <input type="radio" name="useful" value="true">Yes
    <input type="radio" name="useful" value="false">No

    <br />
    
    <label>Would you recommend this talk to a friend/colleague?</label><br />
    <input type="radio" name="willrecommend" value="true">Yes
    <input type="radio" name="willrecommend" value="false">No
    
    <br />
    
    <label>Do you have any suggestions to improve this talk?</label><br />
    <textarea></textarea><br />

    <br />
    
    <label>Any other comments?</label><br />
    <textarea></textarea><br />

    <br />

    <input type="submit" value="Submit!" />
</form>