@model Speakr.WebApp.Site.ViewModels.Home.CheckTalkIdViewModel

<form method="post" asp-controller="/" asp-action="CheckTalkIdCode">
    <div>
        <label>Talk Id:</label>
        <input asp-for="TalkId"/>
        <span asp-validation-for="TalkId"></span>
        <button type="submit">Submit!</button>
    </div>
</form>
