@using (Html.BeginForm("GetRatingForm", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("Talk Id:")
        @Html.Editor("talkId")
        @Html.ValidationMessage("InvalidTalkId")
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
}
