<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Speakr</title>
</head>
<body>
    <h1>Help rate our speakers!</h1>
    <h2>Rating our speakers helps the community</h2>
    <form>
        Speaker Code: <input type="text" name="talkId">
        <input type="submit" value="Submit">
    </form>
</body>
</html>